* {
  box-sizing: border-box;
}

/* GENERIC */

body {
  font-family: 'PT Serif', 'Droid Serif', Garamond, serif;
}

.remark-slide-content {
  padding: 60px 80px;
  font-size: 35px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Bebas Neue', sans-serif;
} 

ul, ol {
  list-style-position: inside;
  padding: 0;
}

ul li, ol li {
  margin-bottom: 10px;
}

.remark-slide-content h1 {
 margin-top: 0;
 margin-bottom: 20px;
 font-size: 80px;
 text-decoration: underline;
}

.background-cover {
  background-size: cover !important;
  background-position: center !important;
}

.white-text {
  color: white
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  padding: 60px 80px;
  color: white;
}

.vertical-center {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}

.vertical-center-large {
  font-size: 85px;
}

.vertical-center-medium {
  font-size: 70px;
}

.vertical-center-left {
  justify-content: flex-start;
}

a, a:visited {
  color: #00CB7A;
}

.medium {
  font-size: 80px;
}

.large {
  font-size: 110px;
}

.contain-images img {
  max-width: 100%;
}


/* SLIDES */

.title {
  background-size: 100% auto !important;
  background-position: 100% 2% !important;
  color: white;
  box-shadow: inset 0px 0px 120px 40px rgba(0,0,0,0.8);
}

.title a, .title a:visited {
  text-decoration: none;
}

.title .remark-slide-number {
  display: none;
}

.titles {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  background: rgba(0,0,0,0.6);
  padding: 40px 50px;
}

.titles h1 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 90px;
  margin-bottom: 20px;
}

.author, .author a {
  color: #aaa;
  font-size: 25px;
  font-style: italic;
}

.react-conf {
  background-color: #05A8D5;
}

.where-we-stand {
  color: white;
  background-size: 100% auto !important;
  background-position: center bottom !important;
  background-color: black;
  box-shadow: inset 150px 50px 107px 200px rgba(0,0,0,0.9);
}

.what-is-react {
  color: white;
  background-size: 150% auto !important;
  background-position: 80% 33% !important;
  box-shadow: inset -100px 0px 110px 160px rgba(0,0,0,0.95);
}

.code-fullscreen {
  padding: 10px;
}

.component-example .remark-code {
  font-size: 24px;
  padding: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.rerender-everything {
  font-size: 64px;
}

.muffin {
  background-size: auto 80% !important;
  background-position: center !important;
  background-color: #ddd;
}

.stripe {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 50%;
  display: block;
}
.stripe--red {
  background: #C82828;
  left: 0;
}
.stripe--green {
  background: #30C828;
  left: 0;
}
.stripe--blue {
  background: #284EC8;
  right: 0;
}

.railslove-heart {
  width: 100px;
  display: inline-block;
  margin-top: 50px;
}

.wrapper-center {
  text-align: center;
}

.vertical-title {
  position: absolute;
  top: 60px;
  left: 80px;
  font-size: 45px;
  // font-family: 'Bebas Neue', sans-serif;
  font-style: italic;
  color: #999;
}

.green {
  color: #30C828;
}

.blue {
  color: #284EC8;
}
.small {
  font-size: 40px;
  display: block;
}

.large-code code {
  font-size: 47px;
}

.background-stretch-vertical {
  background-size: auto 100% !important;
}

.mutable-state-is-bad {
  background-color: black;
}

.background-black {
  background-color: black;
}

.background-green {
  background-color: #25991F;
  color: #fff;
}

.background-green a {
  color: #fff;
}

.background-green .vertical-title {
  color: #ccc;
}

.background-blue {
  background-color: #284EC8;
  color: white;
}

.background-blue a {
  color: #fff;
}

.background-blue .vertical-title {
  color: #ccc;
}

.vertical-center-medium ul, .vertical-center ul {
  width: 100%;
}

